@using Microsoft.AspNet.Identity
@using WebSite.Controllers

@model WebSite.Models.Subscription.SubscriptionCreditsModel

@{
    ViewBag.Title = "Index";
}

<h2>@Resources.Subscription</h2>

<div class="row">
    @if (!Model.UnlimitedAccess)
    {
        string callback = "http://" + HttpContext.Current.Request.Url.Host + ((HttpContext.Current.Request.Url.Host == "localhost") ? (":" + HttpContext.Current.Request.Url.Port) : "/TUFitness") + "/payment/PayPalPaymentNotification";
        PaymentController paymentController = new PaymentController();
        
        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.ActiveUntil)
            @(Model.ActiveUntil.HasValue ? Model.ActiveUntil.Value.ToString("dd/MM/yyyy") : "--/--/----")
        </div>

        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.Credits)
            @Html.DisplayFor(model => model.Credits)

            <div class="row">
                <div class="col-md-8">
                    <span class="pull-left">50 @Resources.Credits </span><span class="pull-right"> 9.99 @Resources.Currency</span>
                </div>
                <div class="col-md-4">
                    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=admin@tu.com"
                            data-button="buynow"
                            data-name="credits50"
                            data-quantity="1"
                            data-amount=@paymentController.ConvertBGNToGBP("9.99")
                            data-currency="GBP"
                            data-callback=@callback
                            data-custom=@HttpContext.Current.User.Identity.GetUserId()
                            data-env="sandbox">
                    </script>
                </div>

                <div class="col-md-8">
                    <span class="pull-left">100 @Resources.Credits </span><span class="pull-right"> 18.99 @Resources.Currency</span>
                </div>
                <div class="col-md-4">
                    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=admin@tu.com"
                            data-button="buynow"
                            data-name="credits100"
                            data-quantity="1"
                            data-amount=@paymentController.ConvertBGNToGBP("18.99")
                            data-currency="GBP"
                            data-callback=@callback
                            data-custom=@HttpContext.Current.User.Identity.GetUserId()
                            data-env="sandbox">
                    </script>
                </div>

                <div class="col-md-8">
                    <span class="pull-left">200 @Resources.Credits </span><span class="pull-right"> 35.99 @Resources.Currency</span>
                </div>
                <div class="col-md-4">
                    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=admin@tu.com"
                            data-button="buynow"
                            data-name="credits200"
                            data-quantity="1"
                            data-amount=@paymentController.ConvertBGNToGBP("35.99")
                            data-currency="GBP"
                            data-callback=@callback
                            data-custom=@HttpContext.Current.User.Identity.GetUserId()
                            data-env="sandbox">
                    </script>
                </div>

                <div class="col-md-8">
                    <span class="pull-left">500 @Resources.Credits </span><span class="pull-right"> 74.99 @Resources.Currency</span>
                </div>
                <div class="col-md-4">
                    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=admin@tu.com"
                            data-button="buynow"
                            data-name="credits500"
                            data-quantity="1"
                            data-amount=@paymentController.ConvertBGNToGBP("74.99")
                            data-currency="GBP"
                            data-callback=@callback
                            data-custom=@HttpContext.Current.User.Identity.GetUserId()
                            data-env="sandbox">
                    </script>
                </div>
            </div>
        </div>
    }
    else
    { 
        <div class="col-md-12">
            @Html.DisplayNameFor(model => model.UnlimitedAccess)
            @Html.DisplayFor(model => model.UnlimitedAccess)
        </div>
    }

    @Html.Hidden("HideFooter", new { }, new { id = "hideFooter" })
</div>
